.base_layout .toolbar ul.base ul.color-picker { 
	list-style: none; 
	padding: 0px; 
	margin: 0px; 
	width: 128px;
	li {
		position: static;
		display: block;
		width: 15px;
		height: 15px;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		margin: 0px;
		float: left;
		cursor: pointer;
	}
}