.base_layout .toolbar ul.base {
	ul.color-picker { 
		list-style: none; 
		padding: 0px; 
		margin: 0px; 
		width: 128px;
		li {
			position: static;
			display: block;
			width: 15px;
			height: 15px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			margin: 0px;
			float: left;
			cursor: pointer;
		}
	}
	ul.symbol-picker { 
		list-style: none; 
		padding: 0px; 
		margin: 0px; 
		width: 120px;
		li {
			position: static;
			display: block;
			width: 18px;
			margin: 1px;
			float: left;
			div.item {
				font-family: serif;
				margin: 0px;
				padding: 7px 5px;
				text-align: center;
			}
		}
	}
	ul.excess { 
		li {
			&.separator {
				display: none;
			}
		}
	}
	ul.unitPicker, ul.commandPicker {
		div.item {
			font-size: 11px;
			margin: 0px 2px;
			&.ignore {
				padding-right: 12px;
			}
			.fa-caret-right {
				float: right;
				display: inline-block;
				position: relative;
				left: 8px;
				top: 2px;
			}
			span.code {
				font-family: monospace;
				color: #888888;
			}
		}
	}
	span.dots {
		border: 1px dotted #666666;
	}
	span.fontSize {
		padding: 0px 5px;
		width: 10px;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		color: #666;
		overflow: hidden;
		font-size: 12px;
	}
	span.fontName {
		padding: 0px 5px;
		color: #666;
		text-align: left;
		font-size: 12px;
		vertical-align: middle;
		display: inline-block;
		width: 60px;
		overflow: hidden;
		white-space: nowrap;
	}
	div.item.highlight {
		background-color: #ccc;
		&:hover {
			background-color: #d7e0e2;
		}
	}
}