.sc_help_popup, .sc_tooltip, .sc_arrow:after  {
  background: #FFFFE0;
  border: 1px solid #333333;
}

.sc_tooltip, .sc_help_popup {
  padding: 6px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  box-shadow: 0 0 7px #777777;
  z-index: 99;
  color: #000000;
  position: absolute;
  display: inline-block;
  font-size: 11px;
  &.high_z {
    z-index: 4500;
  }
  .code {
  	font-family: monospace;
  }
  .explanation {
  	font-style: italic;
  	color: #333333;
  }
  .box {
  	display: inline-block;
  	border: 1px solid #cccccc;
  	padding: 0px 1px;
  }
  .code {
    font-size: 12px;
  }
  .sc_close {
    font-size: 12px;
    font-style: italic;
    text-align: right;
    display:inline-block;
    float: right;
    cursor: pointer;
    color: #999999;
    &:hover {
      color: #000000;
    }
  }
}
.sc_tooltip {
  max-width: 300px;
}
.sc_help_popup {
  max-width: 450px;
}
.sc_arrow {
  width: 55px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  &.left {
    left: 20px;
  }
  &.right {
    right: 0px;
  }
  margin-left: -35px;
  top: -16px;
  &:after {
    content: "";
    position: absolute;
    left: 20px;
    top: 10px;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 7px #777777;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
  }
  &.down {
    bottom: -16px;
    top: auto;
    &:after {
      top: -20px;
    }
  }
}
.sc_autocomplete {
  display: block;
  position: absolute;
  min-width: 200px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid black;
  z-index: 100;
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: none;
      padding: 5px 2px;
      cursor: pointer;
      &.selected {
        background-color: #d7efed;
      }
    }
  }
}