div.sc_element_container {
  .sc_element {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  .sc_math {
    cursor: text;
  }
  .sc_text {
    font-family: Arial, sans-serif;
  }
	.sc_selected {
		background-color: #B4D5FE;
    .sc_element {
      border-top: 2px solid #B4D5FE;
      border-bottom: 2px solid #B4D5FE;
    }
		cursor: default;
    .sc_math, .sc_wysiwyg_holder {
      cursor: default;
    }
	}
  .sc_selected ::selection {
    background: transparent;
  }
  .sc_selected.sc_blur {
    background-color: #D4D4D4;
  }
  .sc_dropTop {
    border-top: 2px solid black;
  }
  .sc_dropBot {
    border-bottom: 2px solid black;
  }
  .sc_wysiwyg_holder {
    border: 1px solid #777777; //BRENTAN: Remove this, its just helping us right now
    padding: 6px 3px;
    cursor: text;
    .sc_wysiwyg, textarea {
      resize: none;
      outline: none;
    }
  }
}



.user-select (...) {
  -webkit-user-select: @arguments;
  -moz-user-select: @arguments;
  user-select: @arguments;
}
.sc_textarea {
  position: fixed;
  top:0px;
  left:0px;
  // TODO: why is this here?
  .user-select(text);
}
.sc_textarea * {
  .user-select(text);
  // the only way to hide the textarea
  // *and the blinking insertion point* in IE
  position: absolute;
  clip: rect(1em 1em 1em 1em);
  resize: none; // hotfix: https://code.google.com/p/chromium/issues/detail?id=355199#c1
}
.sc_textareaDebug {
  position: fixed;
  top: 50px;
  left: 0px;
}