div.workspace_holder.sc_manual_evaluation {
  div.sc_element_container {
    .sc_element table.sc_element_table td.sc_element_td i.fa-spinner.calculation_spinner {
      display:none;
    }
  }
}div.workspace_holder.sc_giac_loading {
  div.sc_element_container {
    .sc_element table.sc_element_table td.sc_element_td i.fa-spinner {
      display:none;
    }
  }
}
div.sc_element_container {
  .sc_cursor {
    border-left: 1px solid black;
    margin-left: -1px;
    position: relative;
    z-index: 1;
    padding: 0;
    display: inline-block;
    &.blink { visibility: hidden; }
  }
  .sc_code {
    font-size:1.1em;
    color: #0000cc;
    font-weight: normal;
    padding: 2px 6px 2px 1px;
    var {
      font-style: normal;
      &.highlighted {
        background-color: #B4D5FE;
      }
    }
  }
  .sc_focusableItems {
    cursor: text;
  }
  .sc_help_circle {
    color: #dddddd;
    cursor: pointer;
    display: none;
    &:hover {
      color: #555555;
    }
  }
  .sc_element {
    border-width:0px;
    table.sc_element_table {
      border: 0px;
      margin: 0px;
      padding: 0px;
      width: 100%;
      td.sc_element_td, td.sc_element_insert_td {
        border: 0px;
        margin: 0px;
        padding: 1px 0px;
        padding-left: 4px;
        vertical-align: top;
      }
      td.sc_element_td {
        text-align: right;
        color: #999999;
        padding-right: 2px;
        padding-left: 0px;
        border-right: 1px solid #e0e0e0;
        width: 45px;
        font-size: 11px;
        padding-top: 4px;
        cursor: pointer;
        &:hover {
          background-color: #f7f7f7;
        }
        &.sc_focused {
          background-color: #f2f2f2;
        }
        i.fa-spinner {
          display: inline-block;
          margin-right: 3px;
        }
      }
    }
    div.sc_answer_table {
      display: none;
      margin: 4px 0px 1px 10px;
      table.sc_answer_table {
        border-width: 0px;
        margin: 0px;
        width: 100%;
        td {
          padding: 0px;
          margin: 0px;
          &.sc_answer_table_1t {
            border-left: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            height: 50%;
            vertical-align: bottom;
            div.arrow_box {
              float: right;
              color: #cccccc;
              font-size: 14px;
              font-family: monospace;
              width: 8px;
              height: 16px;
              margin: 0px;
              padding: 0px;
              position:relative;
              top: 7px;
              left: 2px;
            }
          }
          &.sc_answer_table_1b {
            border-left-width: 0px;
          }
          &.sc_answer_table_2 {
            width: 6px;
          }
          &.sc_output_box {
            width: 1%;
            padding: 5px;
            margin-left: 6px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #efefef;
            &:hover {
              background-color: #dddddd;
              div.pulldown { display: block; }
            }
            & > div, div.answer {
              float: right;
            }
            & > table {
              td, td .mq-math-mode, td .mq-math-mode .mq-editable-field {
                cursor: pointer;
                .mq-unit {
                  cursor: text;
                  &:hover {
                    border: 1px solid #888888;
                  }
                }
              }
              width: 100%;
              border: 0px;
              padding: 0px;
              margin: 0px;
              td.answer_menu {
                color: #bfbfbf;
                width: 1%;
                span {
                  padding-left: 6px;
                }
              }
            }
            div.pulldown_holder {
              position: relative;
            }
            div.pulldown {
              display: none;
              position: absolute;
              top: 0px;
              right: -5px;
              background-color: white;
              border: 1px solid #dddddd;
              border-radius: 5px;
              border-top-right-radius: 0px;
              z-index: 99;
              div.pulldown_item {
                white-space: nowrap;
                font-size: 11px;
                color: #555555;
                cursor: pointer;
                padding: 2px;
                margin: 0px;
                border-width: 0px;
                text-align: left;
                &:hover {
                  color: #222222;
                  background-color: #efefef;
                }
              }
            }
            &.hide_pulldown {
              div.pulldown { display: none; }
              & > table {
                td, td .mq-math-mode, td .mq-math-mode .mq-editable-field {
                  cursor: default;
                  .mq-unit {
                    cursor: default;
                    &:hover {
                      border: 1px solid #efefef;
                    }
                  }
                }
                td.answer_menu {
                  color: #efefef;
                }
              }
              &:hover {
                background-color: #efefef;
              }
            }
            &.warn {
              background-color: #FFFFD6;
              div.pulldown { border-color: #FFFFA6; }
              &:hover {
                background-color: #FFFFA6;
              }
            }
            &.error {
              div.pulldown { display: none; }
              width: 65%;
              font-size: 11px;
              cursor: default;
              background-color: #FFD6D6;
              & > table {
                td, td .mq-math-mode, td .mq-math-mode .mq-editable-field {
                  cursor: default;
                }
              }
            }
            &.calculating {
              div.pulldown { display: none; }
              color: #bbbbbb;
              background-color: #f6f6f6;
              & > table {
                td, td .mq-math-mode, td .mq-math-mode .mq-editable-field {
                  cursor: default;
                  .mq-unit {
                    cursor: default;
                    &:hover {
                      border: 1px solid #f6f6f6;
                    }
                  }
                }
                td.answer_menu {
                  color: #f6f6f6;
                }
              }
            }
            &.unit_input {
              div.pulldown { display: none; }
              white-space: nowrap;
              background-color: #aaffff;
              & > table {
                td, td .mq-math-mode, td .mq-math-mode .mq-editable-field {
                  .mq-root-block {
                    width: auto;
                  }
                  .mq-unit {
                    cursor: default;
                    &:hover {
                      border: 1px solid #aaffff;
                    }
                  }
                  .sc_math .mq-unit {
                    cursor: text;
                    &:hover {
                      border: 1px solid #000000;
                    }
                  }
                }
                td.answer_menu {
                  color: #aaffff;
                }
              }
              &:hover {
                background-color: #aaffff;
              }
            }
            div.warning {
              text-align: right;
              min-width: 350px;
              display:block;
              font-size: 11px;
            }
          }
        }
      }
    }
    &.sc_greyout {
      color: #afafaf;
      .mq-math-mode.mq-editable-field.mq-focused {
        color: black;
      }
    }
    &.sc_logic_block > table > tbody > tr > td > div.sc_insert > div.sc_logic_command {
      position: relative;
      left: -52px;
    }
    & > table > tbody > tr > td.sc_element_insert_td > div:hover > .sc_help_circle {
      display: inline-block;
    }
    &:hover > table > tbody > tr > td.sc_element_insert_td > .sc_help_circle {
      display: inline-block;
    }
  }
  & > .sc_element {
    padding-right: 30px;
  }
  .sc_math {
    cursor: text;
    &.sc_input.mq-math-mode.mq-editable-field {
      border-width: 0px;
    }
  }
  .sc_output_box .mq-math-mode.mq-editable-field {
    border-width: 0px;
  }
  .sc_text {
    font-family: Arial, sans-serif;
    .sc_hashtag {
      font-family: monospace;
      color: #55bb55;
      background-color: white;
      &::before {
        content: '#'
      }
    }
  }
	.sc_selected {
		background-color: #B4D5FE;
    border-color: #B4D5FE;
    .sc_math.mq-math-mode.mq-editable-field, .mq-math-mode.mq-editable-field {
      border-color: #B4D5FE;
      &.mq-focused {
        border-color: #B4D5FE;
      }
    }
    &.sc_text {
      .sc_hashtag {
        background-color: #B4D5FE;
      }
      .sc_wysiwyg_holder {
        border-color: #B4D5FE;
      }
    }
    &.sc_element {
      table.sc_element_table td.sc_element_td {
        &.sc_focused {
          background-color: #B4D5FE;
          &:hover {
            background-color: #B4D5FE;
          }
        }
        &:hover {
          background-color: #B4D5FE;
        }
      }
    }
		cursor: default;
    &.sc_math, .sc_wysiwyg_holder {
      cursor: default;
    }
	}
  .sc_selected ::selection {
    background: transparent;
  }
  .sc_selected.sc_blur {
    background-color: #D4D4D4;
  }
  .sc_dropTop {
    border-top: 2px solid black;
  }
  .sc_dropBot {
    border-bottom: 2px solid black;
  }
  .sc_wysiwyg_holder {
    padding: 5px 2px;
    border: 1px solid #ffffff;
    cursor: text;
    .sc_wysiwyg, textarea {
      resize: none;
      outline: none;
    }
  }
  .sc_focused .sc_wysiwyg_holder {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border-color: rgba(81, 203, 238, 1);
  }
}



.user-select (...) {
  -webkit-user-select: @arguments;
  -moz-user-select: @arguments;
  user-select: @arguments;
}
.sc_textarea {
  position: fixed;
  top:0px;
  left:0px;
  // TODO: why is this here?
  .user-select(text);
}
.sc_textarea * {
  .user-select(text);
  // the only way to hide the textarea
  // *and the blinking insertion point* in IE
  position: absolute;
  clip: rect(1em, 1em, 1em, 1em);
  clip-path: rect(1em, 1em, 1em, 1em);
  resize: none; // hotfix: https://code.google.com/p/chromium/issues/detail?id=355199#c1
}
.sc_textarea.show {
  z-index: 10000;
  & * {
    clip: auto;
    clip-path: none;
  }
}